

.heading {
  margin-top: 5px;
} 

.red {
  color: red;
  font-weight: bold; 
}

h1 {
  font-size: 20px;
  color:white; 
  
}

.photo-background {
/*   background-image: url("http://i67.tinypic.com/ve0olu.jpg"); */
  
/*   background-image: url("http://i64.tinypic.com/fx9cnd.jpg"); */
  
  
   background-image: url("http://i68.tinypic.com/346qek1.jpg");

   

  height:200px; 
  background-size: cover; 

  
/*   width: 100%; 
  z-index: 0;  */
}

.col1 {
height: 500px;  
}

.col1 {
  background-color: black; 
}