@media screen and (min-width: 1025px){

  .heading {
  margin-top: 360px;
 
} 
  
  h1 {
  font-size: 100px; 
}
  
  .photo-background {

/*   height:750px; */
    
    height:900px; 
/*     background-image: cover; */
    
      background-repeat: no-repeat; 
   background-size: cover; 

    
 
    
    
 
   
  }
}